.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2.5rem;
}

.steps-link {
  color: var(--clr-brown);
  font-size: 1.5rem;
}

.steps-link-disabled {
  color: var(--clr-red);
  font-size: 1.5rem;
  cursor: not-allowed; 
}
