.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin: 2rem;
}

.filter-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin: 2rem;
}

.filter-left > label {
  font-size: 1.5rem;
}

.filter-option {
  padding: 0.8rem;
  background-color: var(--clr-primary-3);
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-white);
}

/* filter-apply-botton */

.apply-filter-btn {
  background-color: var(--clr-brown);
  font-size: 1rem;
  margin-top: 2rem;
}

/* filter-clear-botton */
.clear-filter-btn {
  background-color: var(--clr-primary-2);
  font-size: 1rem;
}

/* vertical line */
.vl {
  border-right: 6px solid var(--clr-primary-4);
  height: 40rem;
  margin-top: 4rem;
}

@media screen and (max-width: 800px) {
  .vl {
    border-right: none; /* Remove the vertical border */
    border-bottom: 6px solid var(--clr-primary-4); /* Add a horizontal border */
    width: 100%; /* Make the line span the full width of its container */
    height: auto; /* Set height to auto to allow the browser to determine the height based on content */
    margin-top: 0; /* Remove top margin */
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto;
  }
}