.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem;
}

.filter-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem;
}

.filter-left > label {
  font-size: 1.5rem;
}

.filter-option {
  padding: 0.5rem 2rem;
  background-color: var(--clr-primary-3);
  border: none;
  border-radius: 1rem;
  color: var(--clr-white);
  background: linear-gradient(
    45deg,
    var(--clr-brown),
    var(--clr-primary-3)
  );
}


/* filter-apply-botton */

.apply-filter-btn {
  background-color: var(--clr-brown);
  font-size: 1rem;
  margin-top: 2rem;
}

/* filter-clear-botton */
.clear-filter-btn {
  background-color: var(--clr-primary-2);
  font-size: 1rem;
}

/* vertical line */
.vl  {
  border-right: 6px solid var(--clr-primary-2);
  height: 100rem;
  margin-top: 4rem;
}

@media screen and (max-width: 800px) {
  .vl {
    display:none
  }
}