.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: calc(100vh - 5rem); 
  gap: 2rem;
}

.forgetPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

input::placeholder {
  color: var(--clr-primary-4);
}

input:focus {
  outline: none;
  border-color: var(--clr-brown);
  box-shadow: var(--dark-shadow);
}

.message {
  margin: 1rem 0;
}