.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container a {
  color: var(--clr-primary-2);
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid var(--clr-primary-1);
}

.pagination-container a:hover {
  background-color: var(--clr-brown);
  color: var(--clr-white);
}

.pagination-container a.active {
  background-color: var(--clr-primary-3);
  color: var(--clr-white);
}
