.resetPasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: calc(100vh - 5rem);
  gap: 2rem;
}


.resetPasswordForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

input:focus {
  outline: none;
  border-color: var(--clr-primary-4);
  box-shadow: var(--dark-shadow);
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem; 
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary-4);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; 
  margin-top: 1rem; 
  border-radius: 1rem;
}

button:hover {
  background-color: var(--clr-primary-3);
}