form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input::placeholder {
  color: var(--clr-primary-4);
  opacity: 1;
}

.search-input:focus {
  outline: none;
  border: 5px solid var(--clr-brown);
}

.search-input {
  width: 10rem;
  box-sizing: border-box;
  border: 5px solid var(--clr-primary-4);
  border-radius: 1rem;
  font-size: 1rem;
  background-color: var(--clr-primary-1);
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px 15px 10px 35px;
  transition: width 0.4s ease-in-out;
}

@media (max-width: 420px) {
  .search-input {
    width: 12rem;
  }
}
