.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  min-height: calc(100vh - 5rem);
}

.cart-container h1 {
  color: var(--clr-primary-4);
}

.cart-content {
  padding: 2rem;
}

.cart-empty {
  padding: 2rem;
  color: var(--clr-primary-5);
  text-align: center;
  font-size: 1.5rem;
}

.go-back-btn {
  width: 10rem;
  margin-left: 1rem;
}

.cart-image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: var(--dark-shadow);
  margin-bottom: 1rem;
}

.item-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2rem 0;
}

.trash-btn {
  padding-top: 0;
}

hr {
  height: 1.5rem;
  padding: 1rem;
}

.delivery-option-container{
  margin: 2rem 1rem;
}
.delivery-option {
  padding: 0.5rem 2rem;
  background-color: var(--clr-primary-3);
  border: none;
  border-radius: 1rem;
  color: var(--clr-white);
  background: linear-gradient(
    45deg,
    var(--clr-brown),
    var(--clr-primary-3)
  );
  font-size: 1.2rem;
}

.check-out-btn {
  padding: 2rem;
}

.check-out-btn button {
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .check-out-btn button{
    font-size: 1rem;
  }
}
