.contact-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* images */
.contact-image-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}

.contact-image-container img {
    width: 20rem;
    height: 17rem;
    border-radius: 5px;
}
/* title */
.contact-container h1 {
    color: var(--clr-primary-3);
    padding: 2rem;
}
/* social-media-info */
.social-icon {
    color: var(--clr-primary-2)
}

@media screen and (max-width: 800px) {
    .contact-image-container {
        flex-direction: column;

    }
}