.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-backbtn {
  margin: 2rem 3rem;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.home-filter {
  flex: 15%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 85%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  padding: 2rem;
  color: var(--clr-primary-2);
}



.underline {
  background-color: var(--clr-primary-2);
  width: 65%;
  height: 5px;
}

.art {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .home-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .home-filter {
    flex: 1;
    align-self: center;
  }
}