.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; 
  width: 100%;
  max-width: 100vw; 
}
.home-backbtn {
  margin: 2rem auto;
  display: block;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.home-filter {
  flex: 1 0 15%; 
  max-width: 15%; 
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 85%; 
  max-width: 85%; 
  box-sizing: border-box;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  padding: 2rem 1rem 0 1rem;
  color: var(--clr-primary-2);
}

.underline {
  background-color: var(--clr-primary-3);
  width: 65%;
  height: 5px;
}

.art {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%; 
  box-sizing: border-box;
}

.art.keyword-active {
  flex-direction: column; 
}

@media screen and (max-width: 800px) {
  .home-content {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
  }

  .home-filter {
    flex: 1;
    align-self: center;
    max-width: 100%; 
  }

  .gallery {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
  }
}