/* main */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 3rem;
}
/* profile */
.profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.profile-title {
  color: var(--clr-primary-5);
  margin: 2rem;
  font-size: 2rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  margin-bottom: 2rem;
}

.profile-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items vertically to the start */
  justify-content: flex-start; /* Align items horizontally to the start */
  padding: 1rem;
  gap: 1rem;
}




/* profile orders */

.profile-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

.profileOrders-title {
  color: var(--clr-primary-3);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: middle;
  margin: 2rem 2rem;
  width: 100%;
}

/* Remove border color from th and td */
th,
td {
  border: 1px solid transparent; /* Set border color to transparent */
  padding: 1rem;
}

/* Set border color for th and td within thead */
thead th {
  border: 1px solid var(--clr-primary-5);
  background-color: var(--clr-white);
}

/* Set border color for td within tbody */
tbody td {
  border: 1px solid var(--clr-primary-5);
  background-color: var(--clr-white);
}

thead th {
  background-color: var(--clr-white);
}

@media (max-width: 1200px) {
  .profile-container {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  button {
    font-size: 0.8rem;
  }

  th {
    display: none;
  }
  td {
    display: block;
    padding: 1rem 1rem;
  }

  td:first-child {
    padding-top: 2rem;
  }

  td:last-child {
    padding-top: 2rem;
  }
  td::before {
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 1rem;
  }
  .profile-orders-table td:nth-of-type(1)::before {
    content: 'ID';
    color: var(--clr-brown);
  }
  .profile-orders-table td:nth-of-type(2)::before {
    content: 'DATE';
    color: var(--clr-brown);
  }
  .profile-orders-table td:nth-of-type(3)::before {
    content: 'TOTAL';
    color: var(--clr-brown);
  }
  .profile-orders-table td:nth-of-type(4)::before {
    content: 'PAID';
    color: var(--clr-brown);
  }
  .profile-orders-table td:nth-of-type(5)::before {
    content: 'DELIVERED';
    color: var(--clr-brown);
  }
  .profile-orders-table td:nth-of-type(6)::before {
    content: 'DETAIL';
    color: var(--clr-brown);
  }
}
