/* main */

.register {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; 
  max-width: 100vw; 
}

.register-title {
  font-size: 2rem;
  color: var(--clr-primary-2);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.form-item input::placeholder {
  color: var(--clr-primary-3);
}

.register-input {
  padding: 0.8rem;
  background-color: var(--clr-primary-1);
  border-radius: 0.5rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-btn {
  color: var(--clr-white);
}

.register-login-btn {
  background-color: var(--clr-brown);
}

@media screen and (min-width: 800px) {
  .register-title {
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .login-form {
    margin-top: 1.2rem;
  }

  .register-form > label {
    margin: 1rem 0;
    font-size: 1.3rem;
  }

  .register-input {
    padding: 0.8rem;
    border-radius: 0.5rem;
  }

  .register-btn {
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .register-login-btn {
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
}
