.shipping {
  width: 100%;
  border-radius: 3px;
  height: 60%; 
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.shipping-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shipping-address {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.shipping-address label {
  margin-right: 2rem;
  font-weight: 700;
  text-align: right;
  width: 30%;
}

.shipping-address input {
  width: 70%;
  background-color: var(--clr-primary-1);
}

.shipping-address input:focus {
    border-color: var(--clr-primary-4);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.shipping-address input::placeholder {
  color: var(--clr-brown);
}

.continue-btn {
  margin-top: 2rem;
}